@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Raleway&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button, input[type="submit"] {
    cursor: pointer;
}

input, button {
    outline: 0;
}

body {
    background: #fcf2eb;
}