button {
  padding: 20px 40px;
  font: 16px "Raleway", sans-serif;
  text-transform: uppercase;
  background: #fff;
  border: 1px solid #333;
  color: #333;
  letter-spacing: 7px;
  font-weight: 600;
  transition: 0.5s;
  box-shadow: 5px 5px 5px rgba(45, 45, 45, 0.3);
}

button:hover {
  background: #8CD08E;
  border-color: #8CD08E;
  color: #fff;
}

.preloader-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.preloader-modal p.preloader-text {
  color: #333;
  font: 36px "Playfair Display", sans-serif;
  line-height: 1.5;
  margin-bottom: 100px;
}
.preloader-modal p.preloader-text span.preloader-tag {
  display: block;
}

section.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section.landing .landing-text {
  margin: 0px 25px;
  background: rgba(255, 255, 255, 0.75);
  padding: 100px;
  color: #333;
  z-index: 15;
  margin-bottom: 75px;
}
section.landing .landing-text h1.landing-heading {
  font: 60px "Playfair Display", sans-serif;
}
section.landing .landing-text p.landing-par {
  margin: 15px 0px 25px;
  font: 24px "Lora", sans-serif;
  line-height: 1.5;
}
section.landing .landing-text button.landing-btn {
  border: 1px solid #333;
}
section.landing .landing-text button.landing-btn:hover {
  background: #333;
}
section.landing .text-container {
  margin: 0px 25px;
  display: none;
  z-index: 15;
  background: rgba(255, 255, 255, 0.75);
  padding: 100px;
  color: #333;
  margin-bottom: 75px;
}
section.landing .text-container .text-heading {
  font: 44px "Playfair Display", sans-serif;
}
section.landing .text-container .text-par {
  margin: 15px 0px 25px;
  font: 24px "Lora", sans-serif;
  line-height: 1.5;
}
section.landing .svg-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
section.landing .svg-modal .svg-container {
  position: relative;
  width: inherit;
  height: 100%;
}
section.landing .svg-modal .svg-container .sunflower-butterfly {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
}
section.landing .svg-modal .svg-container .sunflower-butterfly img {
  width: 250px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
section.landing .svg-modal .svg-container .top-left-svg-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
section.landing .svg-modal .svg-container .top-left-svg-container .sunflower-butterfly {
  top: 25%;
  left: -125px;
}
section.landing .svg-modal .svg-container .bottom-right-svg-container {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -5;
  margin-bottom: -5px;
}
section.landing .svg-modal .svg-container .bottom-right-svg-container .sunflower-butterfly {
  bottom: 25%;
  right: -125px;
}
section.landing .sunflower-butterfly {
  animation: rotate 25s linear infinite;
}

@media (max-width: 480px) {
  button {
    padding: 20px 30px;
    font: 14px "Raleway", sans-serif;
  }
  section.landing .landing-text {
    background: rgba(255, 255, 255, 0.3);
    padding: 25px;
    text-align: center;
  }
  section.landing .landing-text h1.landing-heading {
    font: 40px "Playfair Display", sans-serif;
  }
  section.landing .landing-text p.landing-par {
    margin: 15px 0px 25px;
    font: 16px "Lora", sans-serif;
    line-height: 1.5;
  }
  section.landing .text-container {
    background: rgba(255, 255, 255, 0.3);
    padding: 25px;
    max-height: -moz-fit-content;
    max-height: fit-content;
    text-align: center;
  }
  section.landing .text-container .text-heading {
    font: 30px "Playfair Display", sans-serif;
  }
  section.landing .text-container .text-par {
    margin: 15px 0px 25px;
    font: 16px "Lora", sans-serif;
    line-height: 1.5;
  }
  section.landing .text-container .text-span {
    font-style: italic;
    font: 44px "Playfair Display", sans-serif;
  }
  section.landing .text-container .text-small {
    display: inline-block;
    margin: 15px 0px 25px;
    font: 18px "Lora", sans-serif;
  }
  section.landing .svg-modal .svg-container .top-left-svg-container .sunflower-butterfly {
    top: 5%;
  }
  section.landing .svg-modal .svg-container .bottom-right-svg-container .sunflower-butterfly {
    bottom: 10%;
  }
  section.landing .sunflower-butterfly {
    animation: rotate 30s linear infinite;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */